name: Deploy to GCP

on:
  push:
    branches: [ main ]  # or master, depending on your default branch

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Deploy to GCP VM
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.GCP_VM_IP }}
        username: ${{ secrets.GCP_VM_USER }}
        key: ${{ secrets.GCP_SSH_PRIVATE_KEY }}
        script: |
          cd /home/lazarmarkov/blog
          git pull origin main
          bundle
          sudo systemctl restart blog
